<h3>Pick from different stylez || <small><%= link_to "Add new stylez", new_subgenre_path %></small></h3>

<ul>
  <% @subgenres.each do |subgenre| %>
  <h4><big><li><%= link_to subgenre.name, subgenre_path(subgenre)  %></li></big></h4>
  <% end %>
</ul>

<br><hr>

<h3>All songs available: (a-z)</h3>
  <% Song.all.order(title: :asc).each do |song| %>
    <li> <big><%= link_to song.title, subgenre_song_path(@subgenres, song)  %></big>
       - by <em><%= song.artist %></em>
       - posted <%= time_ago_in_words(song.created_at)  %> ago  </li>
  <% end %>
