<div class="subgenres-header">
  <h1><%= @subgenres.name %></h1>  | <%= link_to "Edit Genre Name", edit_subgenre_path(@subgenres) %>  | <%= link_to "Delete Genre", subgenre_path(@subgenres),:data => {:confirm => "You sure?",:method => "delete"} %>
</div>

<br>
<div id="back-button">
  <%= link_to subgenres_path, class: "btn btn-xs btn-success" do %>
  <i class="glyphicon glyphicon-chevron-left"> Back</i>
  <% end %>
</div>

<hr><br>

<h3>Tha songz:</h3>

<br>

<ul>
  <% @subgenres.songs.order(created_at: :desc).each do |song| %>
    <li><big><big> <%= link_to song.title, subgenre_song_path(@subgenres, song) %></big></big>
      - <em><%= song.artist %></em>
      <br>
       posted <%= time_ago_in_words(song.created_at)  %> ago
       - <%= link_to "Edit Song", edit_subgenre_song_path(@subgenres, song) %>
       | <%= link_to "Delete Song", subgenre_song_path(@subgenres, song),
          :data => {:confirm => "You Sure?",
            :method => "delete"} %>
      <%= link_to "Upvote",  upvote_subgenre_song_path(@subgenres,song), :data => {:method => "update"}  %>
      <%= link_to "Downvote", downvote_subgenre_song_path(@subgenres,song), :data => {:method => "update"} %>
      <%=song.upvote%>
      <%=song.downvote%>
  </li>
  <% end %>
</ul>

<br>
<p><%= link_to "Add a song to this genre", new_subgenre_song_path(@subgenres) %></p>
<br>
