<!DOCTYPE html>
<html>
<head>
  <title>HipHopHurray</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>
<center><%= link_to "Home", subgenres_path %></center>
</body>
</html>
